<div class="container-fluid">
  <div class="form w-75 p-4">
 <form>
    <div class="row w-100 bg-light mb-3">
      <div class="form-group col-lg-6 col-sm-12">
          <label for="firstname">First name</label>
          <input type="text" class="form-control" id="firstname" aria-describedby="firstname" placeholder="Enter First Name...">
         
        </div>

        <div class="form-group col-lg-6 col-sm-12">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" id="lastname" aria-describedby="lastname" placeholder="Enter Last Name...">
           
          </div>

          <div>
              <a class="waves-effect waves-light btn text-white">edit</a>
          </div>
          
        </div>

        <div class="row w-100 bg-light mb-3">
            <div class="form-group col-lg-6 col-sm-12">
                <label>
                    <input name="group1" type="radio" checked />
                    <span>Male</span>
                  </label>
               
              </div>
      
              <div class="form-group col-lg-6 col-sm-12">
                  <label>
                      <input name="group1" type="radio" checked />
                      <span>Female</span>
                    </label>
                 
                </div>
      
                <div>
                    <a class="waves-effect waves-light btn text-white">edit</a>
                </div>
                
              </div>

              <div class="row w-100 bg-light mb-3">
                  <div class="form-group col-lg-12">
                      <label for="email">Email Address</label>
                      <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter Email Address...">
                     
                    </div>
            
                      <div class="col-lg-6 col-sm-12">
                          <a class="waves-effect waves-light btn text-white">edit</a>
                      </div>
                      
                    </div>
                  </form>
  </div>
</div>
